.DS_Store
/.build
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc

WhereWhenServer/wherewhen.sqlite
WhereWhenServer/.vscode
.envrc
db/
.vscode
fix.rb